//Override next/source/css/_schemes/Mist/_header.styl Start
.column {
  background: #222;
}

.header {
  color: white;
  background: #222;
  align-items: center;
  display: flex;
  padding: 20px 0;

  +mobile() {
    display: block;
    padding: 10px 0;
  }
}

.site-meta {
  line-height: normal;

  .brand {
    color: white;
    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder;
    color: #FFFFFF;
  }
}

.logo-line {
  background: #999;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 75%;

  +mobile() {
    display: none;
  }
}

.site-subtitle {
  display: block;
  color: #999;
}
//Override next/source/css/_schemes/Mist/_header.styl End

//Override next/source/css/_schemes/Mist/_menu.styl Start
.menu {
  padding: 0;

  .menu-item {
    margin: 0;

    +mobile() {
      margin-top: 5px;
    }

    a {
      color: white;
      border-radius: 2px;
      padding: 0 10px;
      transition-property: background;

      +mobile() {
        text-align: left;
      }
    }

    .badge {
      background: white;
      border-radius: 10px;
      color: $black-light;
      padding: 1px 4px;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    }
  }
}
//Override next/source/css/_schemes/Mist/_menu.styl End

//Override next/source/css/_common/outline/header/github-banner.styl Start
.github-corner {
  svg {
    color: white;
    fill: blue;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $zindex-0;
  }
}
//Override next/source/css/_common/outline/header/github-banner.styl End

//Background
body {
  background: url(https://blog-image-host.oss-cn-shanghai.aliyuncs.com/lzqblog/photo-1504326008149-71dbc00aa3ae.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

//Override next/source/css/_schemes/Mist/_posts-expand.styl Start
//Override next/source/css/_schemes/Mist/_posts-expand.styl End

//Override next/source/css/_schemes/Mist/_layout.styl Start
.main-inner {
  main-container();
  padding-bottom: $content-padding-bottom;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px solid rgba(200, 200, 200, 0.3);
  padding: 30px;
  background: #F8F8FF;
  opacity: 0.95;
  border-radius: 30px;

  +mobile() {
    width: auto;
    border: none;
  }
}

.footer {
  background: #1C1C1C;
  color: $grey-dim;
  opacity: 0.8;
  padding: 10px 0;
}

.footer {
  background: #222;
  color: white;
  padding: 10px 0;
}
//Override next/source/css/_schemes/Mist/_layout.styl End

//Override next/source/css/_common/scaffolding/highlight/index.styl Start
code {
  background: $grey-dim;
  color: white;
  border-radius: 3px;
  font-size: $table-font-size;
  padding: 2px 4px;
  word-wrap();
}
//Override next/source/css/_common/scaffolding/highlight/index.styl End
